body, *{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding-top: 0px;
    
}

body{
    padding-top: 54px;
}

.bg-pic{
    position: fixed;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    background-image: url("./img/ragnbone_man.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 
 

 filter: blur(5px);
z-index: -1000;  
}

  p {
    margin: 0;
  }
  
  .media-player {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(67, 57, 57, 0.8);
    color: rgb(255, 255, 255);
  }
  
  @media screen and (min-width: 750px) {
    body {
      margin: auto;
      max-width: 750px;
      padding-top: 0;
    }
  
    .media-player {
      display: flex;
      flex-direction: row-reverse;        
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }
  }